# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
venv/
ENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Node
node_modules/

# Outros
*.sqlite3
